# Project specific section:
# -------------------------
# Build directory:
Build/
expl/

# С/C++ common specific section:
# -----------------------------
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#python tests
**.cache/
**.pytest_cache/
**__pycache__/
*.pyc

# CMake specific section:
# -----------------------
CMakeLists.txt.user*
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# IDE
.idea/
.vscode/

# SiriusMockServer artifact
component-test/Server
